.styleinput {
  font-size: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid #757575;
}
.styleinput:focus {
  outline: none;
}

/* active state */
.styleinput:focus ~ label,
.styleinput:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.styleinput:focus ~ .bar:before,
.styleinput:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.styleinput:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.abc .-item-explain {
  color: #ff4d4f;
}

.abc .ant-form-item-has-error {
  margin-bottom: 0;
}
